<a href="https://colab.research.google.com/github/kdChen07/progress-and-problems/blob/main/driving_cost_calculation_OSRM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#使用OSRM（开源路由机器）计算驾驶距离，并将输出作为csv文件

##--将用于距离矩阵计算的数据子集--

In [1]:
!pip install access
!pip install logging
!pip install geopandas

Collecting access
  Downloading access-1.1.3-py3-none-any.whl (21 kB)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from access) (1.19.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from access) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->access) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->access) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->access) (1.15.0)
Installing collected packages: access
Successfully installed access-1.1.3
Collecting logging
  Downloading logging-0.4.9.6.tar.gz (96 kB)
     |████████████████████████████████| 96 kB 587 kB/s
WARNING: Discarding https://files.pythonhosted.org/packages/93/4b/979db9e44be09f71e85c9c8cfc42f258adfb7d93ce01deed2788b2948919/logging-0.4.9.6.tar.gz#sha256=26f6b50773f085042d301085bd1bf5d9f3735704db9f37c1ce6d8b85c38f2417 (from https://pypi.org/simple/logging/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement logging (from versions: 0.4.9.6)
ERROR: No matching distribution found for logging
Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 425 kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 35 kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 5.5 MB/s
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

In [2]:
from access import Access, weights, datasets
import logging
import pandas as pd
import geopandas as gpd

import requests
import json

## Get the centroid of MSOA (demand points)

In [3]:
MSOA_points=gpd.read_file('https://github.com/LingruFeng/dissertation/blob/main/data_github/England_basemap/MSOA_Population_Weighted_Centroids_with_population.gpkg?raw=true')
#MSOA_points = MSOA_points.to_crs('epsg:27700')
MSOA_points = MSOA_points.to_crs('epsg:4326')
MSOA_points['MSOA_lon'] = MSOA_points['geometry'].x
MSOA_points['MSOA_lat'] = MSOA_points['geometry'].y

In [4]:
MSOA_points

      objectid   msoa11cd  ...  MSOA_lon   MSOA_lat
0            1  E02002536  ... -1.295773  54.610691
1            2  E02002537  ... -1.277263  54.611313
2            3  E02002534  ... -1.053458  54.527646
3            4  E02002535  ... -1.287295  54.622148
4            5  E02002532  ... -1.057931  54.537176
...        ...        ...  ...       ...        ...
6786      6787  E02004669  ... -2.096424  51.945960
6787      6788  E02006096  ... -2.956122  50.878552
6788      6789  E02003088  ... -2.815479  51.326784
6789      6790  E02006070  ... -2.977239  51.127113
6790      6791  E02006679  ... -2.136956  51.364067

[6791 rows x 12 columns]

In [5]:
MSOA_points_df = MSOA_points[['msoa11cd','total_pop','MSOA_lon','MSOA_lat']]
MSOA_points_df

       msoa11cd  total_pop  MSOA_lon   MSOA_lat
0     E02002536       9771 -1.295773  54.610691
1     E02002537       8641 -1.277263  54.611313
2     E02002534       5693 -1.053458  54.527646
3     E02002535       9336 -1.287295  54.622148
4     E02002532       6655 -1.057931  54.537176
...         ...        ...       ...        ...
6786  E02004669       7496 -2.096424  51.945960
6787  E02006096       7001 -2.956122  50.878552
6788  E02003088       8444 -2.815479  51.326784
6789  E02006070       8291 -2.977239  51.127113
6790  E02006679      11414 -2.136956  51.364067

[6791 rows x 4 columns]

## read vaccination site point data (supply points)

In [6]:
site = gpd.read_file('https://github.com/LingruFeng/dissertation/blob/main/data_github/site_2_26_clean/vaccination_site.gpkg?raw=true')
# site = site.to_crs('epsg:27700')
site = site.to_crs('epsg:4326')
site['site_lon'] = site['geometry'].x
site['site_lat'] = site['geometry'].y

In [7]:
site_df = site[['index','site_lon','site_lat']]
site_df

      index  site_lon   site_lat
0         0 -0.471211  52.128622
1         1 -0.474637  51.894793
2         2 -0.093771  51.468063
3         3 -0.093771  51.468063
4         4 -0.484367  51.891807
...     ...       ...        ...
1595   1595 -4.865818  50.515949
1596   1596 -0.205835  51.433441
1597   1597 -0.173830  51.514861
1598   1598 -1.879170  50.716914
1599   1599 -3.084182  50.990497

[1600 rows x 3 columns]

In [8]:
site

      index  supply_value                   geometry  site_lon   site_lat
0         0             1  POINT (-0.47121 52.12862) -0.471211  52.128622
1         1             1  POINT (-0.47464 51.89479) -0.474637  51.894793
2         2             1  POINT (-0.09377 51.46806) -0.093771  51.468063
3         3             1  POINT (-0.09377 51.46806) -0.093771  51.468063
4         4             1  POINT (-0.48437 51.89181) -0.484367  51.891807
...     ...           ...                        ...       ...        ...
1595   1595             1  POINT (-4.86582 50.51595) -4.865818  50.515949
1596   1596             1  POINT (-0.20584 51.43344) -0.205835  51.433441
1597   1597             1  POINT (-0.17383 51.51486) -0.173830  51.514861
1598   1598             1  POINT (-1.87917 50.71691) -1.879170  50.716914
1599   1599             1  POINT (-3.08418 50.99050) -3.084182  50.990497

[1600 rows x 5 columns]

# Calculate the Euclidean distance from demand to supply locations 
## --threshold: 10 miles (16093.44 meters)--

In [9]:
# Load each of the example datasets which correspond to the demand (population) and supply ('hospital','pcn','pharmacy','vc') respectively.
distance = Access(demand_df = MSOA_points,
           demand_index='msoa11cd',
           demand_value='total_pop',
           supply_df= site,
           supply_index= 'index',
           supply_value=['supply_value']
                 )
# reproject
distance.demand_df = distance.demand_df.to_crs('epsg:27700')
distance.supply_df = distance.supply_df.to_crs('epsg:27700')

In [10]:
##### Take 48280.32 meters (30 miles) as the calculation threshold
distance.create_euclidean_distance(threshold = 16093.44)
distance.cost_df

           euclidean     origin  dest
0        4573.215379  E02002536   122
1        8449.406849  E02002536   127
2        8217.024557  E02002536   137
3        9944.296655  E02002536   836
4        6707.554555  E02002536   838
...              ...        ...   ...
555153  12599.536095  E02003088  1204
555154   5650.422116  E02006070  1278
555155  14527.210489  E02006679  1176
555156   9895.393238  E02006679  1177
555157  13380.739531  E02006679  1183

[555158 rows x 3 columns]

In [11]:
euclidean_distance_matrix = distance.cost_df

In [ ]:
euclidean_distance_matrix = pd.merge(left = euclidean_distance_matrix, 
                                     right = site_df, 
                                     how = 'left', 
                                     left_on = 'dest', 
                                     right_on = 'index')

euclidean_distance_matrix = pd.merge(left = euclidean_distance_matrix, 
                                     right = MSOA_points_df, 
                                     how = 'left', 
                                     left_on = 'origin', 
                                     right_on = 'msoa11cd')

In [ ]:
euclidean_distance_matrix.drop(columns=['msoa11cd','index','total_pop'], axis=1,inplace=True)
euclidean_distance_matrix

           euclidean     origin  dest  site_lon   site_lat  MSOA_lon   MSOA_lat
0        4573.215379  E02002536   122 -1.347271  54.582497 -1.295773  54.610691
1        8449.406849  E02002536   127 -1.214583  54.551181 -1.295773  54.610691
2        8217.024557  E02002536   137 -1.217247  54.552620 -1.295773  54.610691
3        9944.296655  E02002536   836 -1.213812  54.686367 -1.295773  54.610691
4        6707.554555  E02002536   838 -1.216531  54.571757 -1.295773  54.610691
...              ...        ...   ...       ...        ...       ...        ...
555153  12599.536095  E02003088  1204 -2.754862  51.433531 -2.815479  51.326784
555154   5650.422116  E02006070  1278 -3.015693  51.082446 -2.977239  51.127113
555155  14527.210489  E02006679  1176 -2.345549  51.360932 -2.136956  51.364067
555156   9895.393238  E02006679  1177 -1.996076  51.352366 -2.136956  51.364067
555157  13380.739531  E02006679  1183 -2.317129  51.406087 -2.136956  51.364067

[555158 rows x 7 columns]

In [ ]:
euclidean_distance_matrix.to_csv('euclidean_distance_30mile.csv',index=False)

In [ ]:
euclidean_distance_matrix.shape

(555158, 7)

In [ ]:
euclidean_distance_matrix_sub01=euclidean_distance_matrix[0:100000]
euclidean_distance_matrix_sub02=euclidean_distance_matrix[100000:200000]
euclidean_distance_matrix_sub03=euclidean_distance_matrix[200000:300000]
euclidean_distance_matrix_sub04=euclidean_distance_matrix[300000:400000]
euclidean_distance_matrix_sub05=euclidean_distance_matrix[400000:500000]
euclidean_distance_matrix_sub06=euclidean_distance_matrix[500000:555158]

In [ ]:
euclidean_distance_matrix_sub01

           euclidean     origin  dest  site_lon   site_lat  MSOA_lon   MSOA_lat
450000   3396.823841  E02000680  1335 -0.012818  51.429889 -0.061117  51.434470
450001  15263.193208  E02000680  1337 -0.166238  51.554972 -0.061117  51.434470
450002  13846.557898  E02000680  1341 -0.090231  51.557610 -0.061117  51.434470
450003   4683.922776  E02000680  1343 -0.128472  51.435232 -0.061117  51.434470
450004  11551.854101  E02000680  1349  0.104420  51.425747 -0.061117  51.434470
...              ...        ...   ...       ...        ...       ...        ...
459995   7108.454715  E02000837  1084 -0.184737  51.480499 -0.092419  51.452955
459996   6602.181578  E02000837  1092 -0.134709  51.506108 -0.092419  51.452955
459997   9986.345486  E02000837  1098  0.025701  51.504128 -0.092419  51.452955
459998   8723.749832  E02000837  1101 -0.207806  51.422142 -0.092419  51.452955
459999   9192.335558  E02000837  1105 -0.100410  51.535439 -0.092419  51.452955

[10000 rows x 7 columns]

In [ ]:
distance_list = []
origin_id_list = []
destination_id_list = []

for (i1, row1) in euclidean_distance_matrix_sub01.iterrows():
    LatOrigin = str(row1['MSOA_lat'])
    LongOrigin = str(row1['MSOA_lon'])
    origin_id = row1['origin']
    
    LatDestination = str(row1['site_lat'])
    LongDestination = str(row1['site_lon'])
    destination_id = row1['dest']
    
    url = "http://82.11.51.26:5000/route/v1/driving/" + LongOrigin +","+ LatOrigin + ";" + LongDestination +","+ LatDestination + "?steps=false"
    result_distance = requests.get(url).json()['routes'][0]['distance']
    distance_list.append(result_distance)
    origin_id_list.append(origin_id)
    destination_id_list.append(destination_id)

output01 = pd.DataFrame(distance_list, columns = ['Distance in meter'])
output01['origin_id'] = origin_id_list
output01['destination_id'] = destination_id_list
output01

In [ ]:
if len(output01[output01['Distance in meter'].isnull()==True])==0:
    print('There is no empty result.')

There is no empty result.

In [ ]:
from google.colab import files

In [ ]:
output01.to_csv('distance.csv',index=False)

In [ ]:
files.download('distance.csv')

In [ ]:
# These are data generated by Google_distance_cost.ipynb
distance_matrix0 = pd.read_csv('Distance0_100000.csv')
distance_matrix1 = pd.read_csv('Distance100000_200000.csv')
distance_matrix2 = pd.read_csv('Distance200000_300000.csv')
distance_matrix3 = pd.read_csv('Distance300000_400000.csv')
distance_matrix4 = pd.read_csv('Distance400000_1000000.csv')
distance_matrix5 = pd.read_csv('Distance1000000_1674423.csv')

#concat

In [ ]:
distance_matrix = pd.concat([distance_matrix0, distance_matrix1,distance_matrix2,distance_matrix3,distance_matrix4,distance_matrix5], axis=0, ignore_index=True)
distance_matrix

In [ ]:
# check the data
distance_matrix.isna().sum()

In [ ]:
# check the data
distance_matrix[distance_matrix['Distance in meter']==0]

In [ ]:
distance_matrix.to_csv('distance_cost_final_OSRM.csv',index=False)