<a href="https://colab.research.google.com/github/kdChen07/progress-and-problems/blob/main/%E5%8F%AF%E9%80%89POI%E4%B8%8E%E6%97%A0%E7%96%AB%E8%8B%97%E6%9C%8D%E5%8A%A1MSOA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install access
!pip install logging
!pip install geopandas
!pip install mapclassify
!pip install legendgram

Collecting access
  Downloading access-1.1.3-py3-none-any.whl (21 kB)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from access) (1.19.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from access) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->access) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->access) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.4->access) (1.15.0)
Installing collected packages: access
Successfully installed access-1.1.3
Collecting logging
  Downloading logging-0.4.9.6.tar.gz (96 kB)
     |████████████████████████████████| 96 kB 3.6 MB/s
WARNING: Discarding https://files.pythonhosted.org/packages/93/4b/979db9e44be09f71e85c9c8cfc42f258adfb7d93ce01deed2788b2948919/logging-0.4.9.6.tar.gz#sha256=26f6b50773f085042d301085bd1bf5d9f3735704db9f37c1ce6d8b85c38f2417 (from https://pypi.org/simple/logging/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement logging (from versions: 0.4.9.6)
ERROR: No matching distribution found for logging
Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 14.3 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 37 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 65.3 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.2.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0
Collecting mapclassify
  Downloading mapclassify-2.4.3-py3-none-any.whl (38 kB)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mapclassify) (2.5.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.1.5)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.19.5)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from mapclassify) (0.22.2.post1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->mapclassify) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->mapclassify) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->mapclassify) (1.15.0)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->mapclassify) (4.4.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mapclassify) (1.0.1)
Installing collected packages: mapclassify
Successfully installed mapclassify-2.4.3
Collecting legendgram
  Downloading legendgram-0.0.3-py2.py3-none-any.whl (7.7 kB)
Requirement already satisfied: palettable in /usr/local/lib/python3.7/dist-packages (from legendgram) (3.3.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from legendgram) (1.19.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from legendgram) (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->legendgram) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->legendgram) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->legendgram) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->legendgram) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->legendgram) (1.15.0)
Installing collected packages: legendgram
Successfully installed legendgram-0.0.3

In [ ]:
from access import access, weights, datasets
import logging
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import mapclassify as mc
from legendgram import legendgram
import palettable.matplotlib as palmpl
import seaborn as sns
import numpy as np
from scipy import stats
from google.colab import files
from shapely import wkt

In [ ]:
MSOA=pd.read_csv('边界MSOAs Lack of Vaccination Service.csv')
MSOA.head(1)

   Unnamed: 0   MSOA11CD  ... MSOA_with_supply  dissolve
0           1  E02002527  ...            False         1

[1 rows x 14 columns]

In [ ]:
MSOA['geometry'] = MSOA['geometry'].apply(wkt.loads)
MSOA_bou = gpd.GeoDataFrame(MSOA, geometry='geometry')
MSOA_bou.crs = 'epsg:27700'

In [ ]:
MSOA_bou

     Unnamed: 0   MSOA11CD  ... MSOA_with_supply  dissolve
0             1  E02002527  ...            False         1
1             2  E02002692  ...            False         1
2             3  E02002693  ...            False         1
3             4  E02002694  ...            False         1
4             5  E02002695  ...            False         1
..          ...        ...  ...              ...       ...
378         379  E02006845  ...            False         1
379         380  E02006846  ...            False         1
380         381  E02006857  ...            False         1
381         382  E02006870  ...            False         1
382         383  E02006880  ...            False         1

[383 rows x 14 columns]

In [ ]:
MSOA_point=pd.read_csv('点MSOAs Lack of Vaccination Service.csv')
MSOA_point.head(1)

   index  objectid  ...   MSOA MSOA_with_supply
0      1       311  ...  False            False

[1 rows x 6 columns]

In [ ]:
MSOA_point['geometry'] = MSOA_point['geometry'].apply(wkt.loads)
MSOA_lack = gpd.GeoDataFrame(MSOA_point, geometry='geometry')
MSOA_lack.crs = 'epsg:27700'

In [ ]:
MSOA_lack

     index  objectid  ...   MSOA MSOA_with_supply
0        1       311  ...  False            False
1        2      1636  ...  False            False
2        3      1634  ...  False            False
3        4      1632  ...  False            False
4        5      1631  ...  False            False
..     ...       ...  ...    ...              ...
378    379      6413  ...  False            False
379    380      6410  ...  False            False
380    381      5000  ...  False            False
381    382      1484  ...  False            False
382    383      5705  ...  False            False

[383 rows x 6 columns]

In [ ]:
df=pd.read_csv('poi_three_types1.csv')
df.head(1)

   index          name  feature_easting  feature_northing  pointx_class
0      1  Reiver House         338714.0          556014.0       5280365

In [ ]:
point = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.feature_easting, df.feature_northing))
point.crs = 'epsg:27700'

In [ ]:
point = point.to_crs('epsg:4326')
point['point_lon'] = point['geometry'].x
point['point_lat'] = point['geometry'].y

In [ ]:
point

       index                      name  ...  point_lon  point_lat
0          1              Reiver House  ...  -2.957088  54.895084
1          2           Lloyds Pharmacy  ...  -1.556017  52.413332
2          3           Wilson Hospital  ...  -0.163246  51.397288
3          4           Elland Pharmacy  ...  -1.836388  53.686351
4          5          Pimhole Pharmacy  ...  -2.282894  53.593018
...      ...                       ...  ...        ...        ...
21807  21808                 Ultralase  ...  -3.178908  51.481971
21808  21809     Fadeaway Laser Clinic  ...  -1.374558  50.897631
21809  21810               Midland Eye  ...  -1.775749  52.419652
21810  21811  Optimax Laser Eye Clinic  ...  -0.081829  51.516296
21811  21812  Optimax Laser Eye Clinic  ...  -1.548501  53.799366

[21812 rows x 8 columns]

In [ ]:
point_df = point[['index','name','point_lon','point_lat']]
point_df

       index                      name  point_lon  point_lat
0          1              Reiver House  -2.957088  54.895084
1          2           Lloyds Pharmacy  -1.556017  52.413332
2          3           Wilson Hospital  -0.163246  51.397288
3          4           Elland Pharmacy  -1.836388  53.686351
4          5          Pimhole Pharmacy  -2.282894  53.593018
...      ...                       ...        ...        ...
21807  21808                 Ultralase  -3.178908  51.481971
21808  21809     Fadeaway Laser Clinic  -1.374558  50.897631
21809  21810               Midland Eye  -1.775749  52.419652
21810  21811  Optimax Laser Eye Clinic  -0.081829  51.516296
21811  21812  Optimax Laser Eye Clinic  -1.548501  53.799366

[21812 rows x 4 columns]

In [ ]:
distance = pd.read_csv('distance18993.csv')

In [ ]:
distance

       Unnamed: 0  Distance in meter  origin_id  destination_id
0               0            15669.6  E02002527            4155
1               1              608.3  E02002527            4159
2               2            16577.0  E02002527            4162
3               3            11904.9  E02002527            4609
4               4            14355.9  E02002527            5050
...           ...                ...        ...             ...
18988       18988             4303.6  E02006880           18563
18989       18989             1405.0  E02006880           18686
18990       18990            19443.3  E02006880           18900
18991       18991             6235.8  E02006880           19549
18992       18992             7014.5  E02006880           19886

[18993 rows x 4 columns]

In [ ]:
distance_cost_df = pd.read_csv('distance18993.csv') 
distance_cost_df = distance_cost_df.rename(columns={"Distance in meter": "cost", "origin_id": "origin", "destination_id": "dest","Unnamed: 0":"index"})
distance_cost_df

       index     cost     origin   dest
0          0  15669.6  E02002527   4155
1          1    608.3  E02002527   4159
2          2  16577.0  E02002527   4162
3          3  11904.9  E02002527   4609
4          4  14355.9  E02002527   5050
...      ...      ...        ...    ...
18988  18988   4303.6  E02006880  18563
18989  18989   1405.0  E02006880  18686
18990  18990  19443.3  E02006880  18900
18991  18991   6235.8  E02006880  19549
18992  18992   7014.5  E02006880  19886

[18993 rows x 4 columns]

In [ ]:
distance_cost_df_test = distance_cost_df.loc[distance_cost_df['cost']<16093.44]
distance_cost_df_test

       index     cost     origin   dest
0          0  15669.6  E02002527   4155
1          1    608.3  E02002527   4159
3          3  11904.9  E02002527   4609
4          4  14355.9  E02002527   5050
6          6    989.8  E02002527   5056
...      ...      ...        ...    ...
18985  18985   6549.4  E02006880  17608
18988  18988   4303.6  E02006880  18563
18989  18989   1405.0  E02006880  18686
18991  18991   6235.8  E02006880  19549
18992  18992   7014.5  E02006880  19886

[8816 rows x 4 columns]

In [ ]:
MSOA_points = MSOA_point

In [ ]:
a = pd.unique(distance_cost_df_test['origin'])

# Set 'MSOA_with_supply' field True if a place has at least one vaccination site within 10 miles of distance, otherwise False.
b = pd.DataFrame()
b['MSOA'] = a
b['MSOA_with_supply'] = True

MSOA_with_supply = pd.merge(left = MSOA_points,right = b, how='left', left_on='msoa11cd', right_on='MSOA')
MSOA_with_supply=MSOA_with_supply.fillna(False)

In [ ]:
MSOA_with_supply

     index  objectid  ...     MSOA_y MSOA_with_supply_y
0        1       311  ...  E02002527               True
1        2      1636  ...  E02002692               True
2        3      1634  ...  E02002693               True
3        4      1632  ...  E02002694               True
4        5      1631  ...  E02002695               True
..     ...       ...  ...        ...                ...
378    379      6413  ...  E02006845               True
379    380      6410  ...  E02006846               True
380    381      5000  ...  E02006857               True
381    382      1484  ...  E02006870               True
382    383      5705  ...  E02006880               True

[383 rows x 8 columns]

In [ ]:
distance_cost_df_test

       index     cost     origin   dest
0          0  15669.6  E02002527   4155
1          1    608.3  E02002527   4159
3          3  11904.9  E02002527   4609
4          4  14355.9  E02002527   5050
6          6    989.8  E02002527   5056
...      ...      ...        ...    ...
18985  18985   6549.4  E02006880  17608
18988  18988   4303.6  E02006880  18563
18989  18989   1405.0  E02006880  18686
18991  18991   6235.8  E02006880  19549
18992  18992   7014.5  E02006880  19886

[8816 rows x 4 columns]

In [ ]:
point_df

       index                      name  point_lon  point_lat
0          1              Reiver House  -2.957088  54.895084
1          2           Lloyds Pharmacy  -1.556017  52.413332
2          3           Wilson Hospital  -0.163246  51.397288
3          4           Elland Pharmacy  -1.836388  53.686351
4          5          Pimhole Pharmacy  -2.282894  53.593018
...      ...                       ...        ...        ...
21807  21808                 Ultralase  -3.178908  51.481971
21808  21809     Fadeaway Laser Clinic  -1.374558  50.897631
21809  21810               Midland Eye  -1.775749  52.419652
21810  21811  Optimax Laser Eye Clinic  -0.081829  51.516296
21811  21812  Optimax Laser Eye Clinic  -1.548501  53.799366

[21812 rows x 4 columns]

In [ ]:
c = pd.unique(distance_cost_df_test['dest'])
d = pd.DataFrame()
d['point'] = c
d['opt_points'] = True

opt_points = pd.merge(left = point_df,right = d,how='left',left_on='index',right_on='point')
opt_points = opt_points.fillna(False)

In [ ]:
opt_points

       index                      name  point_lon  point_lat  point  opt_points
0          1              Reiver House  -2.957088  54.895084  False       False
1          2           Lloyds Pharmacy  -1.556017  52.413332  False       False
2          3           Wilson Hospital  -0.163246  51.397288  False       False
3          4           Elland Pharmacy  -1.836388  53.686351  False       False
4          5          Pimhole Pharmacy  -2.282894  53.593018  False       False
...      ...                       ...        ...        ...    ...         ...
21807  21808                 Ultralase  -3.178908  51.481971  False       False
21808  21809     Fadeaway Laser Clinic  -1.374558  50.897631  False       False
21809  21810               Midland Eye  -1.775749  52.419652  False       False
21810  21811  Optimax Laser Eye Clinic  -0.081829  51.516296  False       False
21811  21812  Optimax Laser Eye Clinic  -1.548501  53.799366  False       False

[21812 rows x 6 columns]

In [ ]:
opt_points.to_csv('opt_points.csv')

In [ ]:
files.download('opt_points.csv')